@mixin clear{
    margin: 0;
    padding: 0;
}

@mixin clear-list{
    @include clear;
    list-style: none;   
}

@mixin flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 