//Colors
$yellow:#f9d423;
$grey:#99a3a4;
$red:#f97f66;
$green:#1abc9c;
$blue:#0faff1;
$orange:#f1540f;


$colors:(
    'text':#000,
    'navbar-nav__link':#fff,
    'h-light':#fff,
    'h-dark': #000,
    'dark-bg':#000,
    'light-bg':#fff,
    'footer-bg':#2a2a2a,
);


@function color($object){
    @return map-get($colors, $object);
}

//Media width Bootstrap
$media-sm-rubber:576px;
$media-sm:768px;
$media-md:992px;
$media-lg:1200px;