@import 'variables';
@import 'mixins';

.auth{
    height:70px;
    display: flex;
    align-items: center;
   justify-content: space-around;
    // @include flex-center();
    background-color:color('dark-bg');

    &__link{
        color:#fff;
        text-transform: uppercase;

        &:hover{
            text-decoration: none;
            color:grey;
            transition: .3s color;
        }
    }
}