@import 'variables';
@import 'mixins';

.buy{
    height: 300px; 
    background: color('light-bg');
    &__content{
        height:100px;
        background:grey;
        text-align: center;
    }

    &__title{

    }

    &__subtitle{

    }

    &__input-block{
        height:20px;
       background:#fefd;
    }

}