@import 'variables';
@import 'mixins';


.header{
    background: url(../img/header_bg.jpg) #000;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height:100vh;

    &__title{
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__subtitle{
        font-style:italic;
    }
    
    &__content{      
        height:100vh;
        @include flex-center;
    }
}