@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
    font-family: 'Roboto', sans-serif;
    background-color:#242424;
}

h1,h2,h3,h4,h5,h6,p{
    @include clear;
}
/*
If it's not Flex.
First block after navbar requires top indent to show itself. Top indent = Navbar height*/
.first{
    padding-top:57px;
}
