@import "_variables.scss";
@import "_mixins.scss";

//Requires Bootstrap v4.3.1 (https://getbootstrap.com/)

.navbar{
    
    background:rgba(64, 64, 64, 0.93);
    // @media (max-width:$media-sm){
    //     background:rgba(64, 64, 64, 0.93);
    // }
}

.navbar-nav{
    &__item{
        position: relative;
        margin-right: 30px;        
        &:hover{
            .navbar-nav__bottom-strip{
                opacity: 1;
            }
        }
        &:last-child{
            margin-right:0;
        }    
    }
    // &__item:last-child{
    //     margin-right:0;
    // }

    &__link{
        color:color('navbar-nav__link');
    }

    &__link:hover{
        color:color('navbar-nav__link');        
    }

    .active &__link  {
        color:#adadad;
    }

    &__bottom-strip{
        position: absolute;
        height:2px;
        width:100%;
        bottom:0;
        display: block;
      
        background-color:color('navbar-nav__link');
        opacity: 0;
        transition: .5s opacity;
    }
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
